<!-- <h2 mat-dialog-title>Hi {{data.name}}</h2> -->
<mat-dialog-content>
  <p>נא לבחור סיסמה חזקה</p>
  <mat-form-field>
    <mat-label>הכנס סיסמה חזקה</mat-label>
    <input matInput [(ngModel)]="password" />
  </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-content>
   <mat-form-field>
    <mat-label>אימות סיסמה</mat-label>
    <input matInput [(ngModel)]="password" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button matButton (click)="onNoClick()">ביטול</button>
  <button matButton [mat-dialog-close]="password()" cdkFocusInitial>אישור</button>
</mat-dialog-actions>
