<div class="registration-modal">
<button (click)="goBack()" class="btn btn-outline-dark btn-sm">חזור</button>

  <h2 mat-dialog-title class="text-center fw-bold">?למה תרצו להרשם</h2>
  
  <mat-dialog-content class="options-container">
    <div class="row g-3">
      <div class="col-12">
        <button class="option-card" (click)="navigate('loginToGuide')">
          <div class="icon-circle instructor-bg"><i class="bi bi-person-badge"></i></div>
          <div class="text-content">
            <span class="title">הרשמה למדריכה</span>
            <span class="desc">להוביל קבוצות ולגלות מסלולים</span>
          </div>
        </button>
      </div>

      <div class="col-12">
        <button class="option-card" (click)="navigate('loginToCoordinator')">
          <div class="icon-circle coordinator-bg"><i class="bi bi-clipboard-data"></i></div>
          <div class="text-content">
            <span class="title">הרשמה למרכזת</span>
            <span class="desc">לנהל לוגיסטיקה וארגון טיולים</span>
          </div>
        </button>
      </div>

      <!-- <div class="col-12">
        <button class="option-card" (click)="navigate('logintoAll')">
          <div class="icon-circle dual-bg"><i class="bi bi-stars"></i></div>
          <div class="text-content">
            <span class="title">מדריכה וגם מרכזת</span>
            <span class="desc">שילוב מושלם של הדרכה וניהול</span>
          </div>
        </button>
      </div> -->
    </div>
  </mat-dialog-content>
</div>
