<h3>איפוס סיסמה</h3>

    <form [formGroup]="PasswordForm">
        <div class="mb-3">
        <label class="form-label fw-bold">שם משתמש</label>
        <div class="input-wrapper">
        <input type="text" formControlName = "UserName" class="form-control" placeholder="הכנס שם משתמש">
        </div>
        </div>

        <div class="mb-3">
        <label class="form-label fw-bold">אימייל</label>
        <div class="input-wrapper">
        <input type="text" formControlName="Email" class="form-control" placeholder="הכנס כתובת אימייל">
        </div>
        </div>
        
        <div class="mb-3">
        <label class="form-label fw-bold">טלפון</label>
        <div class="input-wrapper">
        <input type="text" formControlName="Phon" class="form-control" placeholder="הכנס מספר טלפון">
        </div>
        </div>

         <li>
    <button matButton="elevated" [disabled]="!PasswordForm.valid" (click)="openDialog()">לבחירת סיסמה חדשה</button>
  </li>

        <!-- <button type="button" [disabled]="!PasswordForm.valid">לבחירת סיסמה חדשה</button> -->

    </form>
